<?xml version="1.0" encoding="UTF-8" ?>

<!--
	Powered by Incredibox
	Incredibox © So Far So Good
	http://www.sofarsogood.fr
	http://www.incredibox.com
-->

<root>

	<appInfo>
		<name>Alpha</name>
		<version>1</version>
		<annee>2009</annee>
		<duree>5.333</duree>
		<frame>256</frame>
		<bonusloopA>true</bonusloopA>
		<volencode>0.8</volencode>
	</appInfo>

	<musique>

		<son picto="picto0" posPicto="49,43">
			<swf>costume-v1/drum_ballet.swf</swf>
			<mp3>sound-v1/drum/drum_ballet_a.mp3</mp3>
		</son>
		<son picto="picto1" posPicto="43,85">
			<swf>costume-v1/drum_kick.swf</swf>
			<mp3>sound-v1/drum/drum_kick_a.mp3</mp3>
		</son>
		<son picto="picto2" posPicto="48,58">
			<swf>costume-v1/drum_snare.swf</swf>
			<mp3>sound-v1/drum/drum_snare_a.mp3</mp3>
		</son>
		<son picto="picto3" posPicto="81,68">
			<swf>costume-v1/drum_lead.swf</swf>
			<mp3>sound-v1/drum/drum_lead_a.mp3</mp3>
		</son>
		<son picto="picto4" posPicto="50,68">
			<swf>costume-v1/drum_charley.swf</swf>
			<mp3>sound-v1/drum/drum_charley_a.mp3</mp3>
		</son>


		<son picto="picto5" posPicto="50,68">
			<swf>costume-v1/effet_long.swf</swf>
			<mp3>sound-v1/effet/effet_long_a.mp3</mp3>
			<mp3>sound-v1/effet/effet_long_b.mp3</mp3>
		</son>
		<son picto="picto6" posPicto="55,64">
			<swf>costume-v1/effet_daft1.swf</swf>
			<mp3>sound-v1/effet/effet_daft1_a.mp3</mp3>
		</son>
		<son picto="picto7" posPicto="52,68">
			<swf>costume-v1/effet_tududu.swf</swf>
			<mp3>sound-v1/effet/effet_tududu_a.mp3</mp3>
		</son>
		<son picto="picto8" posPicto="50,68">
			<swf>costume-v1/effet_daft2.swf</swf>
			<mp3>sound-v1/effet/effet_daft2_a.mp3</mp3>
		</son>
		<son picto="picto9" posPicto="50,68">
			<swf>costume-v1/effet_rythme.swf</swf>
			<mp3>sound-v1/effet/effet_rythme_a.mp3</mp3>
			<mp3>sound-v1/effet/effet_rythme_b.mp3</mp3>
		</son>


		<son picto="picto10" posPicto="58,74">
			<swf>costume-v1/melo_tuu.swf</swf>
			<mp3>sound-v1/melo/melo_tuu_a.mp3</mp3>
		</son>
		<son picto="picto11" posPicto="41,80">
			<swf>costume-v1/melo_indien.swf</swf>
			<mp3>sound-v1/melo/melo_indien_a.mp3</mp3>
		</son>
		<son picto="picto12" posPicto="55,56">
			<swf>costume-v1/melo_armo.swf</swf>
			<mp3>sound-v1/melo/melo_armo_a.mp3</mp3>
		</son>
		<son picto="picto13" posPicto="39,81">
			<swf>costume-v1/melo_clav.swf</swf>
			<mp3>sound-v1/melo/melo_clav_a.mp3</mp3>
			<mp3>sound-v1/melo/melo_clav_b.mp3</mp3>
		</son>
		<son picto="picto14" posPicto="54,55">
			<swf>costume-v1/melo_siffle.swf</swf>
			<mp3>sound-v1/melo/melo_siffle_a.mp3</mp3>
		</son>


		<son picto="picto15" posPicto="40,80">
			<swf>costume-v1/voix_waya.swf</swf>
			<mp3>sound-v1/voix/voix_waya_a.mp3</mp3>
		</son>
		<son picto="picto16" posPicto="57,37">
			<swf>costume-v1/voix_ride.swf</swf>
			<mp3>sound-v1/voix/voix_ride_a.mp3</mp3>
			<mp3>sound-v1/voix/voix_ride_b.mp3</mp3>
		</son>
		<son picto="picto17" posPicto="50,68">
			<swf>costume-v1/voix_over.swf</swf>
			<mp3>sound-v1/voix/voix_over_a.mp3</mp3>
			<mp3>sound-v1/voix/voix_over_b.mp3</mp3>
		</son>
		<son picto="picto18" posPicto="47,55">
			<swf>costume-v1/voix_colors.swf</swf>
			<mp3>sound-v1/voix/voix_colors_a.mp3</mp3>
		</son>
		<son picto="picto19" posPicto="50,68">
			<swf>costume-v1/voix_sunrise.swf</swf>
			<mp3>sound-v1/voix/voix_sunrise_a.mp3</mp3>
			<mp3>sound-v1/voix/voix_sunrise_b.mp3</mp3>
		</son>


		<sonBonus picto="bonus0">
			<mp3>sound-v1/bonus/aspire.mp3</mp3>
		</sonBonus>
		<sonBonus picto="bonus1">
			<mp3>sound-v1/bonus/lill-child.mp3</mp3>
		</sonBonus>
		<sonBonus picto="bonus2">
			<mp3>sound-v1/bonus/wall-dance.mp3</mp3>
		</sonBonus>
		<sonBonus picto="bonus3">
			<mp3>sound-v1/bonus/sunrise.mp3</mp3>
		</sonBonus>

	</musique>

	<pathBonus loop="4">
		<swf code="1,3,9,13,15" visible="1" name="Lill child">bonus-v1/lill-child.swf</swf>
		<swf code="1,4,2,5,13" visible="1" name="Dance">bonus-v1/wall-dance.swf</swf>
		<swf code="5,10,12,15,17" visible="1" name="Sunrise">bonus-v1/sunrise.swf</swf>
	</pathBonus>

	<pathPicto>
		<swf>picto-v1.swf</swf>
	</pathPicto>

	<pathIntro>
		<swf>intro-v1.swf</swf>
	</pathIntro>

	<pathLogo>
		<swf>logo-v1.swf</swf>
	</pathLogo>

</root>
