<?xml version="1.0" encoding="UTF-8" ?>

<!--
	Powered by Incredibox
	Incredibox © So Far So Good
	http://www.sofarsogood.fr
	http://www.incredibox.com
-->

<!-- This is a fan recreation of a lost version called "v1 remastered" released in 2018 -->
<!-- And of course, all of this was made by Alottu :) -->

<root>

	<appInfo>
		<name>Alpha</name>
		<version>1</version>
		<annee>2009</annee>
		<duree>5333</duree>
		<frame>128</frame>
		<bonusloopA>true</bonusloopA>
		<volencode>0.8</volencode>  <!-- I dont even know what is this -->
	</appInfo>

<!-- Updated Pictos -->

	<musique>

		<son picto="picto0" posPicto="49,43">
			<swf>costume-v1/1_lead.swf</swf>
			<mp3>sound-v1/1_lead_a.mp3</mp3>
		</son>
		<son picto="picto1" posPicto="43,85">
			<swf>costume-v1/2_deux.swf</swf>
			<mp3>sound-v1/2_deux_a.mp3</mp3>
		</son>
		<son picto="picto2" posPicto="48,58">
			<swf>costume-v1/3_kosh.swf</swf>
			<mp3>sound-v1/3_kosh_a.mp3</mp3>
		</son>
		<son picto="picto3" posPicto="81,68">
			<swf>costume-v1/4_shpok.swf</swf>
			<mp3>sound-v1/4_shpok_a.mp3</mp3>
		</son>
		<son picto="picto4" posPicto="50,68">
			<swf>costume-v1/5_tom.swf</swf>
			<mp3>sound-v1/5_tom_a.mp3</mp3>
		</son>


		<son picto="picto5" posPicto="50,68">
			<swf>costume-v1/6_nouana.swf</swf>
			<mp3>sound-v1/6_nouana_a.mp3</mp3>
		</son>
		<son picto="picto6" posPicto="55,64">
			<swf>costume-v1/7_scratch.swf</swf>
			<mp3>sound-v1/7_scratch_a.mp3</mp3>
		</son>
		<son picto="picto7" posPicto="52,68">
			<swf>costume-v1/8_trill.swf</swf>
			<mp3>sound-v1/8_trill_a.mp3</mp3>
		</son>
		<son picto="picto8" posPicto="50,68">
			<swf>costume-v1/9_bass.swf</swf>
			<mp3>sound-v1/9_bass_a.mp3</mp3>
		</son>
		<son picto="picto9" posPicto="50,68">
			<swf>costume-v1/10_uh.swf</swf>
			<mp3>sound-v1/10_uh_a.mp3</mp3>
		</son>


		<son picto="picto10" posPicto="58,74">
			<swf>costume-v1/11_nugu.swf</swf>
			<mp3>sound-v1/11_nugu_a.mp3</mp3>
		</son>
		<son picto="picto11" posPicto="41,80">
			<swf>costume-v1/12_guit.swf</swf>
			<mp3>sound-v1/12_guit_a.mp3</mp3>
		</son>
		<son picto="picto12" posPicto="55,56">
			<swf>costume-v1/13_tromp.swf</swf>
			<mp3>sound-v1/13_tromp_a.mp3</mp3>
		</son>
		<son picto="picto13" posPicto="39,81">
			<swf>costume-v1/14_pouin.swf</swf>
			<mp3>sound-v1/14_pouin_a.mp3</mp3>
		</son>
		<son picto="picto14" posPicto="54,55">
			<swf>costume-v1/15_tung.swf</swf>
			<mp3>sound-v1/15_tung_a.mp3</mp3>
		</son>


		<son picto="picto15" posPicto="40,80">
			<swf>costume-v1/16_aoun.swf</swf>
			<mp3>sound-v1/16_aoun_a.mp3</mp3>
		</son>
		<son picto="picto16" posPicto="57,37">
			<swf>costume-v1/17_hum.swf</swf>
			<mp3>sound-v1/17_hum_a.mp3</mp3>
		</son>
		<son picto="picto17" posPicto="50,68">
			<swf>costume-v1/18_get.swf</swf>
			<mp3>sound-v1/18_get_a.mp3</mp3>
		</son>
		<son picto="picto18" posPicto="47,55">
			<swf>costume-v1/19_tellme.swf</swf>
			<mp3>sound-v1/19_tellme_a.mp3</mp3>
		</son>
		<son picto="picto19" posPicto="50,68">
			<swf>costume-v1/20_make.swf</swf>
			<mp3>sound-v1/20_make_a.mp3</mp3>
		</son>

<!-- AS THE BONUSES SWF'S ARE LOST, THERE WILL BE NO BONUSES -->

		<sonBonus picto="bonus0">
			<mp3>sound-v1/bonus/aspire.mp3</mp3>
		</sonBonus>
		<sonBonus picto="bonus1">
			<mp3>sound-v1/bonus/lill-child.mp3</mp3>
		</sonBonus>
		<sonBonus picto="bonus2">
			<mp3>sound-v1/bonus/wall-dance.mp3</mp3>
		</sonBonus>
		<sonBonus picto="bonus3">
			<mp3>sound-v1/bonus/sunrise.mp3</mp3>
		</sonBonus>

	</musique>

	<pathBonus loop="4">
		<swf code="1,3,9,13,15" visible="0" name="Lill child">bonus-v1/lill-child.swf</swf>
		<swf code="1,4,2,5,13" visible="0" name="Dance">bonus-v1/wall-dance.swf</swf>
		<swf code="5,10,12,15,17" visible="0" name="Sunrise">bonus-v1/sunrise.swf</swf>
	</pathBonus>

	<pathPicto>
		<swf>picto-v1.swf</swf>  <!-- THIS WILL BE UPDATED SOON -->
	</pathPicto>

	<pathIntro>
		<swf>intro-v1.swf</swf>  <!-- THIS WILL BE HARD TO UPDATE -->
	</pathIntro>

	<pathLogo>
		<swf>logo-v1.swf</swf>  <!-- UNCENTERED FIX SOON -->
	</pathLogo>

</root>
